.div-form {
    display: inline-block;
    margin: 0 auto;
    max-width: 500px;
}

.div-form .lines  {
    width: 100%;
}

.btn-primary {
    display: flex;
    justify-content: center;
}


.js-trip-list {
    margin: 0px 25%;
}

.error {
    color: red;
    text-align: center;
}

.message {
    text-align: center;
}

.buttons {
    padding: 10px 0px 0px 0px;
    text-align: center;
}

.loader-box {
    position: absolute;
    left: 50%;
}

.loader {
    display: none;
    position: relative;
    left: -50%;    
    border: 16px solid #f3f3f3;
    border-top: 16px solid #3498db;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

@media (max-width: 600px) {
    .div-form {
        display: inline-block;
        margin: 10px;
    }

    .div-form .lines  {
        width: 100%;
    }

    .btn-primary {
        display: flex;
        justify-content: center;
    }

    .js-trip-list {
        margin: 0px 20px;
    }

}
